SEARCH_KEYWORD=
DAILY_SEND_LIMIT=
PRESENTATION_PATH=assets/company_presentation.pdf
GEMINI_API_KEY=

BREVO_SMTP_HOST=
BREVO_SMTP_PORT=587
BREVO_SMTP_LOGIN=
BREVO_SMTP_PASSWORD=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

TAVILY_API_KEY=
