SEARCH_KEYWORD=Singing Bowls
DAILY_SEND_LIMIT=100
SEND_DELAY=5

PRESENTATION_PATH=assets/company_presentation.pdf
GEMINI_API_KEY=

DESCRIPTION="bowl"

BREVO_SMTP_HOST=
BREVO_SMTP_PORT=587
BREVO_SMTP_LOGIN=
BREVO_SMTP_PASSWORD=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

TAVILY_API_KEY=

FOURSQUARE_API_KEY=
